# Analysis

In [7]:
#import pandas

import pandas as pd

#import files 

school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

school_data = pd.read_csv(school_csv)
student_data = pd.read_csv(student_csv)

#merge files

district_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

district_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [13]:
#Total number of unique schools
schools_unique = district_data["school_name"].nunique()
schools_unique

15

In [16]:
#Total students
students_total = district_data["student_name"].count()
students_total

39170

In [31]:
#Total budget
district_data_no_duplicates = district_data.drop_duplicates("school_name")
total_budget = district_data_no_duplicates["budget"].sum()
total_budget

24649428

In [33]:
#Average math score
average_math_score = district_data["math_score"].mean()
average_math_score

78.98537145774827

In [34]:
#Average reading score
average_read_score = district_data["reading_score"].mean()
average_read_score

81.87784018381414

In [37]:
#% passing math (the percentage of students who passed math)
pass_math_count = district_data[(district_data["math_score"]>=70)].count()["student_name"]
pass_math_percent = (pass_math_count/students_total)*100
pass_math_percent

74.9808526933878

In [38]:
#% passing reading (the percentage of students who passed reading)
pass_read_count = district_data[(district_data["reading_score"]>=70)].count()["student_name"]
pass_read_percent = (pass_read_count/students_total)*100
pass_read_percent

85.80546336482001

In [41]:
#% overall passing (the percentage of students who passed math AND reading)
passing_both_count = district_data[(district_data["math_score"]>=70) & 
                                   (district_data["reading_score"]>=70)].count()["student_name"]
passing_both_percent = (passing_both_count/students_total)*100
passing_both_percent

65.17232575950983

In [52]:
#district summary snapshot

district_summary = pd.DataFrame({"Total Schools":[schools_unique],
                                 "Total Students":[students_total],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[average_math_score],
                                 "Average Reading Score":[average_read_score],
                                 "% Passing Math":[pass_math_percent],
                                 "% Passing Reading":[pass_read_percent],
                                 "% Passing Overall":[passing_both_percent]})
#formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary